<p>subject-obs works!</p>

<b>Here we will demostrate use of :- Subject and Behavior Subject</b>
<ul>
    <li>Here Subject and Behavior subject is use to pass the data in different components</li>
    <li>It is same like observables the only things is it use for data (variables / property) not for API calling</li>
    <li>Difference Between Subject and Behaviour Subject is  <br>
        :- In Subject we can not assign initial value <br>
        :- In Behavior Subject we can assign Initial Value
    </li>
</ul>




<div class="container">
    <div class="row">
        <div class="col-6">
            <app-subject-form-one></app-subject-form-one>
        </div>
        <div class="col-6">
            <app-subject-form-two></app-subject-form-two>
        </div>
    </div>
</div>
