<p>Two Way Data Binding Word</p>


<p>Here we see how data is transfer from (VIEW) HTML file input field to variable property store in (component) TS file and view versa at a same time </p>
<p>eg:- [(ngModel)] used for TWO WAT DATA BINDING</p>

<hr>
<p>One way data gets bind either HTML to COMPONENT or COMPONENT to HTML at a single time two is not support at same time </p>
<p>eg:- INTERPOLATION , [value]="data". [disabled]="isTrue" (Property Binding),  Event Binding, Template Ref Varibale Binding</p>
<input type="text" [(ngModel)]="inputVal" name="inputVal">
<p>{{inputVal}}</p>