<!-- <app-myContainer></app-myContainer> -->

<!-- <app-class-style-binding></app-class-style-binding> -->

<!-- <app-template-ref-var></app-template-ref-var> -->

<!-- <app-two-way-data-bind></app-two-way-data-bind> -->


<!-- <app-structure-directive></app-structure-directive> -->

<!-- <app-projectone></app-projectone> -->



  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="comm">Parent Component</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="obs">Obs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pone">Parent One Practice 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="subobs">Subject & Behaviour Subject</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="hookparent">Parent Hooks</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="viewchildcomp">View Child </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="hostlist">Host Listener </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pipescom">Pipes </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tempform">Template Form </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reactiveform">Reactive Form </a>
          </li>

        </ul>
      </div>
  </nav>

<router-outlet></router-outlet>